.reveal {
background: white;
}

.reveal div.slides {
/*    left: 0px !important;
    top: 0px !important;
    position: absolute;*/
    width: 90% !important;
    height: 90%;
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-top:0 !important;
/*    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    border:0;*/

}

.reveal .slides section {

    position: absolute !important;
    left: 0px !important;
    width: 90%;
    height: 100%;
    top: 0px !important;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 20px;
    padding-top: 0px !important;
    padding-left: 0px;
    padding-right: 0px;

}

.reveal h1{
    text-align: center !important;
    padding-left: 3% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-right: 3% !important;
/*     margin-left: 10% !important; */
    margin-top: 10%;
/*     margin-right: 0; */
    margin-bottom: 7%;
/*     width: 80% !important; */
    text-transform: uppercase;
    font-size: 3em;
    border-radius: 25px;
    color: white;
    text-align: center;
    background: #3333b3;
}

.reveal h1.title {
    text-align: center !important;
    padding-left: 3% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-right: 3% !important;
/*     margin-left: 6% !important; */
    margin-top: 6%;
/*     width: 80% !important; */
    text-transform: uppercase;
    font-size: 3em;
    border-radius: 25px;
    box-shadow: 5px 5px 10px grey;
}

.reveal p.author, .reveal p.date {
    text-align: center;
}

.reveal .controls {
    color: #223d7114
}

.reveal h2 {
    margin-top: 0;
    background: #3333b3;
    margin-left: -16%;
    margin-right: 0;
    margin-bottom: 4%;
    width: 112% !important;
    font-size: 2.77em;
    padding-bottom: 2%;
    padding-top: 2%;
    color: white;
    text-align: left;
    padding-left: 16%;
}



.reveal li,
.reveal p {
font-size: 1.9em;
padding-top: 30px;
}

.reveal li li {
font-size: 1em;
}

.reveal p {
text-align: justify;
}

.reveal p img, .reveal p video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 350px;
}

.reveal li {
list-style-position: inside;
display: list-item;
}

.reveal ol, .reveal ul {
/*     display: inline-block; */
    text-align: left;
    margin: 0px;
    padding-left: 3em;
    }

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
    display: block;
    margin-left: 2em;
    list-style-type: square;
    padding-left: 0;
}

.reveal video {
    margin-top: 30px;
    max-height: 350px;
}

.reveal.overview {
top: 0%;
left: 0%;
}

.reveal .slides section {
height: 100%;
width: 90% !important;
}

.reveal div.thm {

    margin-right: 5%;
    margin-left:5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0%;
    padding-bottom: 2%;
    border-radius:15px;
    background: #eaeaf3;
    box-shadow: 5px 5px 10px grey;
}

.reveal div.thm h2 {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 3%;
    width: 100.8% !important;
    margin-right: -2.4%;
    margin-left: -2.4%;
    margin-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    font-size: 1.9em;
}

.reveal div.thm p {

    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;

}

.reveal div.thm ul {
    display: contents;
}

.reveal div.thm ul li {
    padding-left: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 1.5em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;

}

.reveal pre code {
    display: block;
    padding: .25em;
    overflow: auto;
    word-wrap: normal;
    color: black;
    background: #f7f7f7;
    border: 1px solid #d7d7d7;
    box-shadow: 0 0 1em #eee;
    border-radius: .3em;
}

.reveal .progress {
    position: absolute;
    display: none;
    height: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #3333b380;
    color: #3333b3;
}

.reveal.cube .slides section:not(.stack):before {
    background: rgba(0, 0, 0, 0) !important;
}

.reveal.cube .slides section:not(.stack):after {
    box-shadow: 0px 95px 25px rgba(0, 0, 0, 0) !important;
}
